<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.pg.repo.ArticleSearchRepository">

    <insert id="insert">
        INSERT INTO article_search (article_id, title_keywords, keywords, title_tsv, tsv, visible, update_time)
        VALUES (#{articleId}, #{titleKeywords}, #{keywords}, #{titleTsv}::tsvector, #{tsv}::tsvector, #{visible}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateVectorByArticleId">
        UPDATE article_search
        SET keywords = #{keywords},
            title_keywords = #{titleKeywords},
            tsv = CAST(#{tsVectorStr} AS tsvector),
            title_tsv = #{titleTsVectorStr},
            update_time = CURRENT_TIMESTAMP
        WHERE article_id = #{articleId}
    </update>

    <select id="selectByArticleId" resultType="com.simple.pg.entity.ArticleSearchEntity">
        SELECT *
        FROM article_search
        WHERE article_id = #{articleId}
    </select>

    <select id="search" resultType="java.lang.Long">
        SELECT article_id
        FROM article_search
        WHERE title_tsv @@ CAST(#{tsQueryStr} AS tsquery) OR tsv @@ CAST(#{tsQueryStr} AS tsquery)
        ORDER BY (
                     ts_rank(title_tsv, CAST(#{tsQueryStr} AS tsquery)) * 3
                         + ts_rank(tsv, CAST(#{tsQueryStr} AS tsquery))
                     ) * CASE WHEN #{isSingleChar} = 1 THEN 0.3 ELSE 1 END DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countSearchTotal" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM article_search
        WHERE title_tsv @@ CAST(#{tsQueryStr} AS tsquery) OR tsv @@ CAST(#{tsQueryStr} AS tsquery)
    </select>

</mapper>